{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Cookies</h1>

{% if cookies %}
    <table class="table table-bordered table-striped mt-4">
        <thead class="table-dark">
            <tr>
                <th>Имя</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in cookies.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info mt-4">Cookies отсутствуют.</div>
{% endif %}
{% endblock %}
