{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="my-5">Задание к лабораторной работе №2</h1>

        <p class="fw-bold">1. Отображение данных запроса.</p>
        <p>Добавьте в приложение страницы, на которых отображаются:</p>
        <ul class="my-3">
            <li><a href="{{ url_for('url_params') }}">параметры URL</a>,</li>
            <li><a href="{{ url_for('headers') }}">заголовки запроса</a>,</li>
            <li><a href="{{ url_for('cookies') }}">cookie</a>,</li>
            <li><a href="{{ url_for('auth') }}">параметры формы (форма авторизации)</a>.</li>
        </ul>

        <p class="fw-bold">2. Форма с обработкой ошибок.</p>
        <p>
            Создайте <a href="{{ url_for('phone') }}">страницу с формой</a> для ввода номера телефона.
            По нажатию на кнопку «Проверить» выполняется валидация номера на сервере (POST).
            Допустимые форматы: <code>+7 (123) 456-75-90</code>, <code>8(123)4567590</code>, <code>123.456.75.90</code>.
        </p>
    </div>
</div>
{% endblock %}
