# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ve/
.env/
.venv/

# Pytest
.pytest_cache/

# ======================
# OS / Editor junk
# ======================

.DS_Store
Thumbs.db

# VSCode
.vscode/

# ======================
# Logs / temp
# ======================

*.log
*.tmp
*.swp
