* {
    /*div, header, footer, main, nav*/
    margin: 0;
    padding:0;
}
div, header, footer, main, nav{
    box-sizing: border-box;
}
body{    
    margin-top: 5rem;
    text-align: center;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(167, 62, 167);
}
/* nav-bar*/
nav p {
    margin-top: 2rem;
    display: inline-block;
    padding:0.7rem 5%;
    font-weight: 500;
    font-size: 1.1rem;
}
/* ABOUT */
main{
    padding: 2%;
}
img {
    width: 100%;
    height: auto;
    max-height: 30rem;
    object-fit: cover;
    object-position: center;
    display: block;
}

.about-section{
  text-align: center;
}

.about-image {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(70%);
}

.about-title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 5em;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  line-height: 0.8;
  text-shadow: 0 4px 10px rgba(0,0,0,0.8);
}
main p {
    /*text-align: justify; */
    font-size: 1.2em;
    
}
.description{    
    padding: 2% 25%;
}

.about-section ul,
section ul {
  text-align: left;            /* отключить центровку для списка */
  list-style: disc;            /* тип маркера */
  list-style-position: outside;
  padding-left: 1.5rem;        /* место под маркер */
  margin-left: 0;              /* по желанию */
}
table {
    font-weight: 100;
    font-size: 1.2em;
    border-collapse: collapse;
    width: 900px;
    
}
th, td {
    border: 1px solid #000;
    padding: 8px 12px;
    text-align: center;
}
.firstline_t th {
    font-weight: 900;
    background-color: #f0f0f0; /* необязательно, просто для визуального выделения */
}
.list_cent {
    margin: 2rem;
    position: relative;
    display: inline-block;
    font-size: 1.2em;
}
.table_structure {
    margin: 2rem;
    position: relative;
    display: inline-block;
}
/*Footer*/
footer{
    background-color: black;
    padding: 2%;
    font-size: 1.1em;
}
footer a, footer p{
    color: white;
    margin-left: 20px; 
}